.header {
  min-height: 129px;
  padding-top: 40px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav-toggler {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0;
    margin-left: auto;
    padding: 8px 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 4px;
      width: 24px;
      height: 3px;
      background-color: $nav-toggler;
    }

    &::after {
      top: auto;
      bottom: 8px;
    }

    span {
      display: block;
      width: 24px;
      height: 3px;
      background-color: $nav-toggler;
    }
  }
}

@include mobile {
  .header {
    min-height: 80px;
    padding-top: 10px;
  }
}
