//Цвета
$opacity-blue: rgba(#1F3F68, 0.6);
$blue: #1F3F68;
$light-blue: #5A98D0;
$lightest-blue: #98C3E8;
$dark-blue: #316099;
$nav-toggler: #356EAD;



//Шрифты
$galien: "Galien-Bold", "Times New Roman", serif;
$gilroy: "Gilroy", "Arial", sans-serif;

//остальное

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$center-width: 1366px;

$desktop-padding: 83px;
$tablet-padding: 43px;
$mobile-padding: 15px;
